:root {
 /* Spacing */
  --spacing-0: var(--scale-0);
  --spacing-25: var(--scale-25);
  --spacing-50: var(--scale-50);
  --spacing-100: var(--scale-100);
  --spacing-200: var(--scale-200);
  --spacing-300: var(--scale-300);
  --spacing-400: var(--scale-400);
  --spacing-500: var(--scale-500);
  --spacing-600: var(--scale-600);
  --spacing-700: var(--scale-700);
  --spacing-800: var(--scale-800);
  --spacing-900: var(--scale-900);
  --spacing-1000: var(--scale-1000);
  --spacing-1100: var(--scale-1100);
  --spacing-1200: var(--scale-1200);
  --spacing-1300: var(--scale-1300);
  --spacing-1400: var(--scale-1400);
  --spacing-1500: var(--scale-1500);
  --spacing-1600: var(--scale-1600);
  --spacing-1700: var(--scale-1700);
  --spacing-1800: var(--scale-1800);
  --spacing-1900: var(--scale-1900);
  --spacing-2000: var(--scale-2000);
  --spacing-2100: var(--scale-2100);
  --spacing-2200: var(--scale-2200);
  --spacing-2300: var(--scale-2300);
  --spacing-2400: var(--scale-2400);
  --spacing-2500: var(--scale-2500);
  --spacing-2600: var(--scale-2600);
  --spacing-2700: var(--scale-2700);
  --spacing-2800: var(--scale-2800);
  --spacing-2900: var(--scale-2900);
  --spacing-3000: var(--scale-3000);

  /* Negative Spacing */
  --spacing-negative-100: calc(var(--scale-100) * -1);
  --spacing-negative-200: calc(var(--scale-200) * -1);
  --spacing-negative-300: calc(var(--scale-300) * -1);
  --spacing-negative-400: calc(var(--scale-400) * -1);
  --spacing-negative-500: calc(var(--scale-500) * -1);
  --spacing-negative-600: calc(var(--scale-600) * -1);
  --spacing-negative-700: calc(var(--scale-700) * -1);
  --spacing-negative-800: calc(var(--scale-800) * -1);
  --spacing-negative-900: calc(var(--scale-900) * -1);
  --spacing-negative-1000: calc(var(--scale-1000) * -1);
  --spacing-negative-1100: calc(var(--scale-1100) * -1);
  --spacing-negative-1200: calc(var(--scale-1200) * -1);
  --spacing-negative-1300: calc(var(--scale-1300) * -1);
  --spacing-negative-1400: calc(var(--scale-1400) * -1);
  --spacing-negative-1500: calc(var(--scale-1500) * -1);
  --spacing-negative-1600: calc(var(--scale-1600) * -1);
  --spacing-negative-1700: calc(var(--scale-1700) * -1);
  --spacing-negative-1800: calc(var(--scale-1800) * -1);
  --spacing-negative-1900: calc(var(--scale-1900) * -1);
  --spacing-negative-2000: calc(var(--scale-2000) * -1);
  --spacing-negative-2100: calc(var(--scale-2100) * -1);
  --spacing-negative-2200: calc(var(--scale-2200) * -1);
  --spacing-negative-2300: calc(var(--scale-2300) * -1);
  --spacing-negative-2400: calc(var(--scale-2400) * -1);
  --spacing-negative-2500: calc(var(--scale-2500) * -1);
  --spacing-negative-2600: calc(var(--scale-2600) * -1);
  --spacing-negative-2700: calc(var(--scale-2700) * -1);
  --spacing-negative-2800: calc(var(--scale-2800) * -1);
  --spacing-negative-2900: calc(var(--scale-2900) * -1);
  --spacing-negative-3000: calc(var(--scale-3000) * -1);


}   