<!-- components/button/button.showcase.html -->

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Button Showcase</title>
      
  <link rel="icon" type="image/png" href="/public/favicon.png">
  <link rel="stylesheet" href="../../styles/index.css" />
  <link rel="stylesheet" href="../../styles/showcase/showcase.css" />
  <link rel="stylesheet" href="./button.css" />

  <!-- Phosphor icons -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css"
    />

</head>

<body>
  <main class="showcase">
    <header class="showcase__header">
      <a href="/index.html" style="align-self: flex-start; margin-bottom: var(--gap-600);"><i class="ph ph-arrow-left" style="margin-right: var(--gap-200);"></i>Volver</a>
      <p class="u-eyebrow">Component</p>
      <h1>Button</h1>
      <p>
        Showcase visual del componente Button.
      </p>
    </header>

    <section class="showcase__group">
      <h2 class="u-heading-sm">Variants</h2>

      <div class="showcase__row">
        <button class="c-button primary lg">Primary</button>
        <button class="c-button primary-outline lg">Primary Outline</button>
        <button class="c-button neutral lg">Neutral</button>
        <button class="c-button neutral-outline lg">Neutral Outline</button>
      </div>
    </section>

    <section class="showcase__group">
      <h2 class="u-heading-sm">States</h2>

      <div class="showcase__row">
        <button class="c-button primary lg">Default</button>
        <button class="c-button lg disabled" disabled>Disabled</button>
      </div>

    </section>

     <section class="showcase__group">
      <h2 class="u-heading-sm">Sizes</h2>

      <div class="showcase__row">
        <button class="c-button primary lg">Large</button>
        <button class="c-button primary md">Medium</button>
        <button class="c-button primary sm">Small</button>
      </div>
    </section>

  </main>

</body>
</html>