.docCard {
   
   display: flex;
   flex-direction: column;
   gap: var(--gap-600);
   padding: var(--padding-800);
   background: var(--color-surface-default);
   border: 1px solid var(--color-border-default);
   border-radius: var(--radius-300);     

}