:root  {
  /* =========================================================
     BORDER WIDTH TOKENS
     Border thickness values for borders
  ========================================================= */

  --border-width-0: var(--scale-0);
  --border-width-25: var(--scale-25);
  --border-width-50: var(--scale-50);
  --border-width-100: var(--scale-100);
  --border-width-200: var(--scale-200);

  /* =========================================================
     BORDER RADIUS TOKENS
     Rounded corner values for border-radius
  ========================================================= */

  --radius-0: var(--scale-0);
  --radius-25: var(--scale-25);
  --radius-50: var(--scale-50);
  --radius-100: var(--scale-100);
  --radius-200: var(--scale-200);
  --radius-300: var(--scale-300);
  --radius-500: var(--scale-500);
   --radius-600: var(--scale-600);
}