.text-eyebrow {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: var(--font-size-body-sm);
    line-height: 1.5;
    color: var(--color-text-eyebrow-default);
}

.text-heading {
    font-family: "latienne-pro", serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1.2;
    color: var(--color-text-heading-default);
}