.text-eyebrow {
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: var(--font-size-body-xsm);
    line-height: 1.5;
    color: var(--color-text-eyebrow-default);
    text-decoration: underline;
    text-underline-offset: 4px;
}

.text-heading {
    font-family: "latienne-pro", serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1.2;
    color: var(--color-text-heading-default);
}